* {
  margin: 0;
}

header {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
}

form {
  text-align: center;
  background-color: lightgray;
  padding: 20px;
}

form div {
  margin: 10px;
}

form div label {
  padding: 5px;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

li {
  margin: 20px;
  padding: 20px;
  border: 2px solid darkgray;
}

li h3 {
  padding: 20px;
}

li img {
  padding: 20px;
}

li p {
  padding: 10px;
}